src/main/resources/de/supplyTool/xmlFiles/results.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sun Jan 04 2015 10:07:29 GMT+0100 (CET) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="results">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="warehousestock">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="article" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="amount" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="startamount" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="pct" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="price" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="stockvalue" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="totalstockvalue" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="inwardstockmovement">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="order" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="orderperiod" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="mode" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="article" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="amount" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="time" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="materialcosts" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="ordercosts" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="entirecosts" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="piececosts" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="futureinwardstockmovement">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="order" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="orderperiod" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="mode" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="article" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="amount" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="idletimecosts">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="workplace" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="setupevents" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="idletime" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="wageidletimecosts" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="wagecosts" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="machineidletimecosts" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="sum">
                                                   <xs:complexType>
                                                         <xs:attribute name="setupevents" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="idletime" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="wageidletimecosts" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="wagecosts" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="machineidletimecosts" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="waitinglistworkstations">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="workplace" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="waitinglist" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="period" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="order" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="firstbatch" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="lastbatch" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="item" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="amount" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="timeneed" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="timeneed" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="waitingliststock">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="missingpart" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="waitinglist">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="period" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="order" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="firstbatch" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="lastbatch" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="item" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="amount" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="ordersinwork">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="workplace" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="period" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="order" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="batch" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="item" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="amount" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="timeneed" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="completedorders">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="order" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="batch" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="amount" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="cycletime" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="cost" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="period" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="item" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="quantity" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="cost" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="averageunitcosts" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="cycletimes">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="order" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="period" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="starttime" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="finishtime" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="cycletimemin" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="cycletimefactor" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="startedorders" type="xs:int"></xs:attribute>
                                       <xs:attribute name="waitingorders" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="result">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="general">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="capacity">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="possiblecapacity">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="relpossiblenormalcapacity">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="productivetime">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="effiency">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="sellwish">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="salesquantity">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="deliveryreliability">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="idletime">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="idletimecosts">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="storevalue">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="storagecosts">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="defectivegoods">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="quantity">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="costs">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="normalsale">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="salesprice">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="profit">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="profitperunit">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="directsale">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="profit">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="contractpenalty">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="marketplacesale">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="profit">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="summary">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="profit">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="current" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="average" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="all" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <xs:attribute name="game" type="xs:int"></xs:attribute>
                     <xs:attribute name="group" type="xs:int"></xs:attribute>
                     <xs:attribute name="period" type="xs:int"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>
